.app{
    overflow: auto;
}
*::-webkit-scrollbar{
    display: none;
}

.banner {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: relative;
    height: var(--banner-height);
}

.banner-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.banner-top {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    height: 100%;
}

.banner-item {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 0 100%;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.banner-bot {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.49)
}

.banner_search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.search_item {
    width: 282px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    font-size: 14px;
    color: black;
}

.search-text {
    margin: 30px 0;
}

.search-text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 230px;
}

.pass {
    font-size: 14px;
    background-color: transparent;
    border: 0;
    color: #fff;
    border-bottom: solid 1px #fff;
    font-size: 18px;
    font-weight: 200;
    width: 230px;
}

input:focus {
    outline: none;
  }

.search-icon {
    color: #fff;
    font-size: 19px;
    position: absolute;
    right: 0;
    bottom: 3px;
}

.banner_call {
    width: 282px;
    display: flex;
    margin-right: 50px;
}

.hotline_zalo {
    width: 70%;
    height: 100%;
    text-align: center  ;
    padding-top: 7px;
    display: inline-grid;
}

.hotline_zalo p {
    font-size: 16px;
    color: #fff;
}

.hotline {
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    padding-bottom: 5px;
    font-weight: 600;
    padding-top: 5px;
}

.zalo {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

.cart {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
}

.cart-logo {
    color: var(--primary-color);
}

.cart-notice {
    position: absolute;
    padding: 1px 6px;
    background-color: #fff;
    color: var(--primary-color);
    font-size: 16px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    border: 1px solid;
    border-color: var(--primary-color);
}

.banner_bars-btn {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 30px;
    display: none;
}

.header {
    height: 47px;
    /* width: 100%; */
    background-color: var(--white-color);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.header__nav-list {

}

.header__nav-list li {
    display: inline-block;
}

.header__nav-item {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 15px 30px;
}

.header__nav-item i {
    margin-left: 5px;
}

.header__nav-item:hover > a,
.subnav li:hover > a,
.subnav1 li:hover a{
    color: var(--primary-color);
}

.header__nav-item:hover > i,
.subnav li:hover i{
    color: var(--primary-color);
}

.header__nav-item:hover {
    cursor: pointer;
}

.header__nav-item a {
    text-decoration: none;
    color: #000;
}   

.subnav-item,
.menu-item {
    position: relative;
}

.subnav-item:hover .subnav1,
.menu-item:hover .subnav{
    display: block;
}


.subnav {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    font-weight: 400;
    width: 235px;
    right: 7px;
    top: 99%;
    border: 1px solid #ebebeb;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.15);
    transform-origin: top;
    animation: subnavGrowth ease-in 0.25s;
    z-index: 1;
}

.subnav1 {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    font-weight: 400;
    width: 267px;
    right: -115%;
    top: 0;
    border: 1px solid #ebebeb;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.15);
    transform-origin: top left;
    animation: subnavGrowth ease-in 0.25s;
}

@keyframes subnavGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.subnav1 li,
.subnav li {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #caccce;
}

.subnav1 li a,
.subnav li a {
    font-size: 1.5rem;
    margin-left: 10px;
}

.subnav li i {
    font-size: 12px;
    margin-right: 5px;
}

.subnav1 li > a:before,
.subnav li > a:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f111";
    font-size: 5px;
    margin-right: 10px;
    margin-top: -2px;
    color: #ffbe00;
}

.nav_mb {
    display: none;
}




.app__container {
    height: 1500px;
    margin-top: 10px;
    /* background-color: black; */
}

.container-wrapper {

}

.container-item {
    padding: 12px 12px;
}

.container-item-link {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    /* border-radius: 10px; */
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container-item-link:hover img {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
}

.container-img {
    overflow: hidden;
    max-height: 295px;
    height: 295px;
    width: 100%;
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 10px; */
}

.container-item-img{
    transition: transform 0.6s ease;
    width: 100%;
    height: 100%;
    object-fit: unset;
}

.text-wrapper {
    position: absolute;
    background-color: #fff;
    width: 242px;
    height: 73px;
    top: 19px;
    right: -40px;
    text-align: center;
}

.container-item-text {
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    display: grid;
    margin: 14px;
}

.container-item-text span {
    display: block;
    font-weight: 400;
    text-align: right;
    margin-top: 12px;
    font-size: 14px;
    position: relative;
    color: #737373;
}

.container-item-text span::before {
    content: '';
    height: 2px;
    width: 200px;
    background: #000;
    position: absolute;
    top: -16px;
    left: 99%;
}

.container-item-link:hover p{
    transform: translateX(5px);
    transition: transform .3s ease;
    color: var(--primary-color);
}

.container-item-link:hover .text-wrapper{
    transform: translateX(-20px);
    transition: transform .3s ease;
    color: var(--primary-color);
}

.container-item-link:hover span::before {
    background-color: var(--primary-color); /* Màu mới của lớp giả 'before' khi hover */
}