<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logoCPT.png">
    <link rel="stylesheet" href="../assets/css/giohang.css">
    <link rel="stylesheet" href="../assets/css/style_mainQT.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css">
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="./js/click.js"></script>
    <title>Quản lý cửa hàng bán đèn trang trí</title>
</head>

<body>
    <section class="header">
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row">
            <div class="col-1 col-s-12 category">
                <button onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</button>
                <button class="active" onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</button>
                <button onclick="TaiKhoan()"><i class="fas fa-user"></i> Tài khoản</button>
                <button onclick="ThongKe()"><i class="fa-solid fa-chart-column"></i> Thống kê</button>
            </div>
            <div class="col-11 col-s-12 content">
                <div class="col-5 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-file-import"></i> Nhập thông tin hóa đơn nhập
                            <hr>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Mã hóa đơn nhập:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="MaHDN"
                                        disabled value="Mã hóa đơn nhập tự động sinh!" style="background-color: #cecaca;">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Nhân viên:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <select name="nhanvien" id="TenNhanVien" >
                                        <option value="">--Chọn nhân viên--</option>
                                        <option value="">Nguyễn Văn A</option>
                                        <option value="">Nguyễn Văn B</option>
                                    </select>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Nhà cung cấp:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <select name="npp" id="TenNPP" >
                                        <option value="">--Chọn nhà cung cấp--</option>
                                        <option value="">Công ty A</option>
                                        <option value="">Công ty B</option>
                                    </select>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Kiểu thanh toán:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="KieuThanhToan" placeholder="Nhập kiểu thanh toán..." >
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Đơn vị tính:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="donViTinh" placeholder="Nhập đơn vị tính..." >
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tổng tiền:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="TongTien"
                                        disabled value="Tổng tiền tự động tính!" style="background-color: #cecaca;">
                                </div>
                                
                                
                            </form>
                        </div>
                        <button class="btn-form" style="background-color: rgba(44, 140, 15, 0.8);"
                        ng-click="addHoaDonNhapCSDL()">Thêm hóa đơn nhập</button>
                        <button class="btn-form" style="background-color: rgba(227, 32, 21, 0.8);"
                            onclick="NhapMoi()">Nhập mới</button>
                        <button class="btn-form" style="background-color: rgba(14, 87, 224, 0.8);" id="btnUpdate"
                        ng-click="updateHoaDonNhapCSDL()">Cập nhật thông tin</button>
                    </div>
                </div>
                <div class="col-7 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-file-import"></i> Thông tin sản phẩm
                            <hr>
                        </div>
                        <div class="product__wrapper">
                            <div class="row grid wide" style="margin-top: 10px;">
                                <div class="col c-12" style="padding: 0; margin-top: 12px; display: flex;">
                                    <div class="col c-2 product__img" >
                                        <a href="" class="product__img-link">
                                            <img src="../assets/img/Product/Đèn năng lượng mặt trời/1.jpg" alt="" class="img">
                                        </a>
                                    </div>
                                    
                                    <div class="col c-10 product__thongtin">
                                        <div class="name-cart">
                                            <span>Đèn năng lượng mặt trời 1</span>
                                        </div>
    
                                        <div><span>Mã sản phẩm : <b>111</b></span></div>
    
                                        <div class="price__wrapper">
                                          <div class="row price__chitiet">
                                            <div class="col c-6">
                                                <div class="number__left">Số lượng: 1</div>
                                                
                                            </div>
                                            <div class="col c-6" style="display: flex; align-items: center;">
                                              <div class="price" style="margin-right: 16px;">
                                                    <div>
                                                        Giá nhập: <span>1.000.000<sup>đ</sup></span>
                                                    </div>
                                                    <div>
                                                        Tổng giá:<span> 1.000.000<sup>đ</sup></span>
                                                    </div>
                                              </div>
                                              <a href="" class="delete" ng-click="confirmDelete(item)">
                                                <i class="fa-solid fa-trash" ></i>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="./SanPham.html" class="muasanphamkhac">
                            Chọn thêm sản phẩm khác
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-s-12 content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fa-shopping-cart"></i> Danh sách hóa đơn nhập
                        <button onclick="XoaChon()" style="margin-right: 3px;"><i class="far fa-trash-alt"></i> Xóa
                            chọn</button>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-2 col-s-12 padding-box">
                            <input type="text" id="mahdn" placeholder="Nhập mã hóa đơn nhập...">
                        </div>
                        <div class="col-4 col-s-12 padding-box">
                            <select name="nhanvien" id="TenNhanVien1" >
                                <option value="">--Chọn nhân viên--</option>
                                <option value="">Nguyễn Văn A</option>
                                <option value="">Nguyễn Văn B</option>
                            </select>
                        </div>
                        <div class="col-4 col-s-12 padding-box">
                            <select name="npp" id="TenNPP1" >
                                <option value="">--Chọn nhà phân phối--</option>
                                <option value="">Công ty A</option>
                                <option value="">Công ty B</option>
                            </select>
                        </div>
                        <div class="col-2 col-s-12 padding-box">
                            <button id="btnSearch"><i class="fas fas fa-search"></i> Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-s-12 padding-box">
                            <table class="myTable">
                                <thead>
                                    <tr>
                                        <th style="padding-top: 10px;"><input type="checkbox"></th>
                                        <th>Mã hóa đơn nhập</th>
                                        <th>Nhân viên</th>
                                        <th>Nhà phân phối</th>
                                        <th>Kiểu thanh toán</th>
                                        <th>Tổng tiền</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>1</td>
                                        <td>Nguyễn Văn A</td>
                                        <td>Công ty A</td>
                                        <td>Thanh toán trước</td>
                                        <td>100.000.000đ</td>
                                        <td style="text-align: center;">
                                            <i class="fas fa-edit" title="Sửa"></i>
                                            <i class="fas fa-trash-alt" title="Xóa"></i>
                                            <a href="./InHoaDonNhap.html" style="padding-left: 4px; border-left: 1px solid #6b6868;" class="detail">In hóa đơn</a>
                                        </td>
                                    </tr>
                                </tbody><tbody> 
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>2</td>
                                        <td>Nguyễn Văn A</td>
                                        <td>Công ty A</td>
                                        <td>Thanh toán trước</td>
                                        <td>200.000.000đ</td>
                                        <td style="text-align: center;">
                                            <i class="fas fa-edit" title="Sửa"></i>
                                            <i class="fas fa-trash-alt" title="Xóa"></i>
                                            <a href="./InHoaDonNhap.html" style="padding-left: 4px; border-left: 1px solid #6b6868;" class="detail">In hóa đơn</a>
                                        </td>
                                    </tr>
                                </tbody><tbody> 
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>3</td>
                                        <td>Nguyễn Văn B</td>
                                        <td>Công ty B</td>
                                        <td>Thanh toán trước</td>
                                        <td>300.000.000đ</td>
                                        <td style="text-align: center;">
                                            <i class="fas fa-edit" title="Sửa"></i>
                                            <i class="fas fa-trash-alt" title="Xóa"></i>
                                            <a href="./InHoaDonNhap.html" style="padding-left: 4px; border-left: 1px solid #6b6868;" class="detail">In hóa đơn</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <div class="box-sum" style="display: flex;">
                                <div class="box-right">
                                    <button><i class="fas fa-angle-left"></i></button>
                                    <button ng-click="changePage(1)">1</button>
                                    <button ng-click="changePage(2)">2</button>
                                    <button ng-click="changePage(3)">3</button>
                                    <button ng-click="changePage(4)">4</button>
                                    <button ng-click="changePage(5)">5</button>
                                    <button ng-click="changePage(6)">6</button>
                                    <button ng-click="changePage(7)">7</button>
                                    <button ng-click="changePage(8)">8</button>
                                    <button ng-click="changePage(9)">9</button>
                                    <button ng-click="changePage(10)">10</button>
                                    <button><i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>