<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logoCPT.png">
    <link rel="stylesheet" href="../assets/css/style_mainQT.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css">
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="./js/click.js"></script>
    <title>Quản lý cửa hàng bán đèn trang trí</title>
</head>

<body>
    <section class="header">
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row">
            <div class="col-1 col-s-12 category">
                <button onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button class="active" onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</button>
                <button onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</button>
                <button onclick="TaiKhoan()"><i class="fas fa-user"></i> Tài khoản</button>
                <button onclick="ThongKe()"><i class="fa-solid fa-chart-column"></i> Thống kê</button>
            </div>
            
            <div class="col-11 col-s-12 content">
                <div class="col-4 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-users"></i> Nhập thông tin khách hàng
                            <hr>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Mã khách hàng:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="MaKH"
                                        disabled value="Mã khách hàng tự động sinh!" style="background-color: #cecaca;">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tên khách hàng:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="TenKH" placeholder="Nhập tên khách hàng...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Địa chỉ:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="DiaChi" placeholder="Nhập địa chỉ khách hàng...">
                                </div>

                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Số điện thoại:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="tel" id="SDT" placeholder="Nhập số điện thoại khách hàng...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Email:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="email" id="Email" placeholder="Nhập email khách hàng...">
                                </div>
                                
                            </form>
                        </div>
                        <hr>
                        <button class="btn-form" style="background-color: rgba(44, 140, 15, 0.8);"
                            onclick="ThemKhachHang();$scope.SaveDataToAPI(); ">Thêm khách hàng</button>
                        <button class="btn-form" style="background-color: rgba(14, 87, 224, 0.8);" id="btnUpdate"
                            onclick="CapNhat()">Cập nhật thông tin</button>
                        <button class="btn-form" style="background-color: rgba(227, 32, 21, 0.8);"
                            onclick="NhapMoi()">Nhập mới</button>
                    </div>
                </div>
                <div class="col-8 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-users"></i> Danh sách khách hàng
                            <button ng-click="XoaChon()" style="margin-right: 3px;"><i class="far fa-trash-alt"></i> Xóa
                                chọn</button>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-5 col-s-12 padding-box">
                                <input type="text" id="search-customer" ng-model="tenkh" placeholder="Nhập tên khách hàng...">
                            </div>
                            <div class="col-5 col-s-12 padding-box">
                                <input type="text" id="search-address" ng-model="diachikh" placeholder="Nhập địa chỉ khách hàng...">
                            </div>
                            <div class="col-2 col-s-12 padding-box">
                                <button id="btnSearch"><i class="fas fas fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-s-12 padding-box">
                                <table class="myTable">
                                    <thead>
                                        <tr>
                                            <th style="padding-top: 10px;"><input type="checkbox"></th>
                                            <th>Mã khách hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Địa chỉ</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>1</td>
                                            <td>Nguyễn Văn A</td>
                                            <td>HN</td>
                                            <td>1111111111</td>
                                            <td>a@gmail.com</td>
                                            <td style="text-align: center;">
                                                <i class="fas fa-edit" title="Sửa"></i>
                                                <i class="fas fa-trash-alt" title="Xóa"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody> 
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>1</td>
                                            <td>Nguyễn Văn B</td>
                                            <td>HN</td>
                                            <td>1111111111</td>
                                            <td>b@gmail.com</td>
                                            <td style="text-align: center;">
                                                <i class="fas fa-edit" title="Sửa"></i>
                                                <i class="fas fa-trash-alt" title="Xóa"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody> 
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>1</td>
                                            <td>Nguyễn Văn C</td>
                                            <td>HN</td>
                                            <td>1111111111</td>
                                            <td>c@gmail.com</td>
                                            <td style="text-align: center;">
                                                <i class="fas fa-edit" title="Sửa"></i>
                                                <i class="fas fa-trash-alt" title="Xóa"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-s-12 padding-box">
                                <div class="box-sum" style="display: flex;">
                                    <div class="box-right">
                                        <button><i class="fas fa-angle-left"></i></button>
                                        <button ng-click="changePage(1)">1</button>
                                        <button ng-click="changePage(2)">2</button>
                                        <button ng-click="changePage(3)">3</button>
                                        <button ng-click="changePage(4)">4</button>
                                        <button><i class="fas fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>